script(src="/socket.io/socket.io.js")
script(src="/bower_components/angular/angular.js")
script(src="/bower_components/angular-socket-io/socket.js")
script(src="/scripts/lib/app.js")
script(src="/scripts/lib/operator.js")
script(src="/scripts/lib/directives/qcName.js")
script(src="/scripts/lib/directives/qcChatbox.js")
link(rel="stylesheet" href="/stylesheets/app.css")
link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css")


body.main.container.text-center(ng-app="chat" ng-controller="operatorCtrl")
  qc-name
  .chat
    .queue.list
      div.chat-item(ng-show="chattingWith.id") Chatting with {{chattingWith.name}}
      div.chat-item(ng-show="!queue.length") Queue is Empty
      div.chat-item(ng-show="queue.length") Users in the queue: {{queue.length}}
      div.chat-item(ng-repeat="user in queue") {{user}}
    qc-chatbox(ng-show="chattingWith.id")