script(src="/socket.io/socket.io.js")
script(src="/bower_components/angular/angular.js")
script(src="/bower_components/angular-socket-io/socket.js")
script(src="/scripts/lib/app.js")
script(src="/scripts/lib/operator.js")
script(src="/scripts/lib/directives/qcName.js")
script(src="/scripts/lib/directives/qcChatbox.js")
link(rel="stylesheet" href="/stylesheets/app.css")

.main(ng-app="chat" ng-controller="operatorCtrl")
  qc-name
  .chat
    span Queue
    .queue.list
      div(ng-repeat="user in queue") {{user}}
    qc-chatbox(ng-show="chatting")