.chatbox
  #history.list
    span Have a question? We'd love to help.
    div(ng-repeat="chat in history")
      span.sender {{chat.name}}: 
      span.message {{chat.message}}
  form(ng-submit="submitNewMessage()")
    input.form-control(ng-model="newMessage" placeholder="Type here and hit <enter> to chat")