.chatbox
  #history.list
    div.chat-item Have a question? We'd love to help.
    div.chat-item(ng-repeat="chat in history")
      span.sender {{chat.name}}: 
      span.message {{chat.message}}
  form(ng-submit="submitNewMessage()")
    input.form-control(ng-model="newMessage" placeholder="Type here and hit <enter> to chat")