script(src="/socket.io/socket.io.js")
script(src="/bower_components/angular/angular.js")
script(src="/bower_components/angular-socket-io/socket.js")
script(src="/scripts/lib/app.js")
script(src="/scripts/lib/visitor.js")
script(src="/scripts/lib/directives/qcName.js")
script(src="/scripts/lib/directives/qcChatbox.js")
link(rel="stylesheet" href="/stylesheets/app.css")
link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css")

meta(name="viewport" content="width=device-width, initial-scale=1")
body.main.container.text-center(ng-app="chat" ng-controller="visitorCtrl")
  qc-name
  .chat(ng-show="!chatEnd")
    #queue(ng-show="queue")
      span You are number 
      span.number {{queue}} 
      span in the queue!
    qc-chatbox(ng-show="!queue")
  .end-chat(ng-show="chatEnd") Thanks {{name}}, your chat is now over, GoodBye!