.container {
  margin-top: 20px;
}

.list {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: scroll;
  margin-bottom: 10px;
  margin-top: 10px;
}
.queue {
  height: 150px;
}

#history {
  height: 250px;
}

#history span.sender {
  font-weight: bold;
}