.list {
  border-style: solid;
  border-width: thin;
  max-width: 400px;
  overflow: scroll;
  margin: 0 0 10px 10px;
}
.queue {
  height: 150px;
}

#history {
  height: 250px;
}

input {
  margin-left: 10px;
}

#history span.sender {
  font-weight: bold;
}