.chat, .nameField {
  
}
.queue {
  border-style: solid;
  border-width: thin;
  max-width: 400px;
  height: 150px;
  overflow: scroll;
  margin: 0 0 10px 10px;
}

#history {
  height: 250px;
  max-width: 400px;
  overflow: scroll;
  border-style: solid;
  border-width: thin;
  margin: 0 0 10px 10px;
}

input {
  margin-left: 10px;
}